@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.dark-mode {
  --background: #000000;
  --foreground: #ffffff;
}

.light-mode {
  --background: #ffffff;
  --foreground: #171717;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
